/* Cascade Styles Configuration for Meme Generator Project courtesy of Daniela Rodríguez awesome capabilities */
* {
    box-sizing:content-box;
}

/* Navigation bar (navbar) styles */
.navbar {
    top: 0;
    padding: 0.8em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    background-color: #191E2B;
    position: sticky;
}

/* Styles while hovering on elements of the navigation bar */
.navbar-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 4px;
}

.navbar-item:hover {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: #A3A6AF;
    opacity: 0.5;
    border-radius: 4px;
    transition-duration: 200ms;    
}

/* Body set-up */
body {
    padding: 0em;  
    cursor: auto; 
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
}

/* Styles for the lists used in the document */
.horizontal-list {
    list-style-type: none;
}

.horizontal-list li {
    display: inline-block;
    margin-right: 0.5em;
}


