/* Cascade Styles Configuration for Meme Generator Project courtesy of Daniela Rodríguez awesome capabilities */
* {
    box-sizing:border-box;
}

/* Navigation bar (navbar) styles */
.navbar {
    top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 1000;
    background-color: #E0E0E0;
    position: sticky;
}

/* Styles while hovering on elements of the navigation bar */
.navbar-item {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 4px;
}

.navbar-item:hover {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgba(163, 166, 175, 0.4);
    border-radius: 4px;
    transition-duration: 200ms;    
}

/* Body set-up */
body {
    padding: 0em;  
    cursor: auto; 
    margin: 0;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    font-family: 'Space Grotesk', sans-serif;
    color: #424242;
}

/* Styles for the lists used in the document */
.vertical-list, .horizontal-list {
    list-style-type: none;
}

.horizontal-list li {
    display: inline-block;
    margin-right: 0.5em;
}

/* Styles for the icons from Font Awesome */
.fa-solid {
    padding-right: 0.3rem;
}

/* Hyperlink styles */
/* Hyperlink not visited */
a:link {
    color: #424242;
    text-decoration: none;
    font-size: 1em;
}

  /* Hyperlink visited */
a:visited {
    color: #424242;
    text-decoration: none;
    font-size: 1em;
}

/* Styles for the titles */
.project-title {
    font-weight: 800;
    font-size: 2.5em;
    padding-bottom: 1rem;
}

/* General Styles for Sections */
.section {
    padding: 2em;
    border-color: 3px transparent;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 1em;
    box-sizing: border-box;
    text-align: center;
    box-shadow: inset -10px 0 10px -10px rgba(0, 0, 0, 0.3);
    min-height: calc(100vh - 90px);
    display: flex;
}

/* Styles for Main Section */
.main-section-meme {
    background-color: #EEEEEE;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.meme-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.meme-image-container {
    width: 100%;
    flex-grow: 1;
    background-size: cover;
}

.sidebar {
    height: 100%;
    width: 200px;
    padding: 1rem;
    background-color: #FAFAFA;
    position: fixed;
    z-index: 100000;
    overflow: auto;
    float: right;
    text-align: left;
}

.image-section-title {
    text-align: center;
    font-weight: 800;
    font-size: 1.2rem;
}

/* Styles for the form classes used in the sidebar sections */
.form-label {
    font-size: 1em;
    font-weight: bold;
}

.form-input {
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    border-color: transparent;
    background-color: #E0E0E0;
}
